<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../css/reservas-adm.css">
   
    <link rel="icon" href="assets/Afya icon logo.png">
    
    <title>Home</title>
</head>
<body>
   {{{body}}}
</body>
</html>