<body>
    <div class="container">


       
        <!-- logo de trás -->
        <div class="mulher">


            <img src="assets/afya_mulher.png" alt="img">


        </div>


        <header>
            <!-- botei o link aqui para criar um redirecionamento ao portal inicial da Afya -->


            <a href="https://www.afya.com.br/"><img src="assets/logo afya cor rosa.png" id="logo"></a>
               
            <!-- cabeçalho -->
            <nav id="menu">
       
                    <a href="#"><span class="sala-header">Salas</span></a>
                    <a href="/reservantesAdm">Reservantes</a>
                    <a href="#">Cursos</a>
                    <a href="/">Sair</a>
                    
                </nav>        
            </header>

        <h1>Salas</h1>

        <!-- barra de pesquisa -->
        <form class="search-form">
            <input type="text" name="q" placeholder="Digite sua pesquisa..." class="search-bar">
            <button type="submit" class="search-btn">Pesquisar</button>

            <label for="filtro" class="filtro-label">Filtrar por:</label>
            <select id="filtro" class="filtro">
                <option value="sala">Sala</option>
                <option value="id">Id</option>
                <option value="disponiveis">Disponíveis</option>
                <option value="indisponiveis">Indisponíveis</option>
            </select>

        </form>

       <!-- table salas -->
<div class="box-salas">
    <table>
        <thead>
            <tr>
                <th>Sala</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each salas}}
            <tr>
                <td class="sala">{{this.Categoria}} {{this.Bloco}}</td>
                <td>{{this.Status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


    <div class="input-box" id="inputBox">
        <div class="container2">
            <h1>Cadastrar uma sala</h1><br>
            <form id="formSala" method="POST" action="/cadastrar-sala">
                <span class="escolha">O que quer adicionar?</span><br>
                <select name="categoria" id="salaCategoria">
                    <option value="Lab" class="option-lab">Laboratório</option>
                    <option value="Sala" class="option-salas">Sala</option>
                    <option value="Auditorio" class="option-auditorio">Auditório</option>
                </select>
                <input class="nome-sala" type="text" name="descricao" placeholder="Digite o nome da sala">
                <button type="submit" class="btn-cadastrar" id="cadastrar-sala">Cadastrar sala</button>
            </form>
        </div>
        <br>
    </div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<footer><p>Todos os direitos reservados. Copyright 2024/ Afya</p></footer>
</body>