<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="assets/Afya icon logo.png">
    <link rel="stylesheet" href="reservantes-adm.css">
    <script src="script.js"></script>

    <title>Reservantes</title>
</head>
<body>
    <div class="container">


       
        <!-- logo de trás -->
        <div class="mulher">


            <img src="assets/afya_mulher.png" alt="img">


        </div>


        <header>
            <!-- botei o link aqui para criar um redirecionamento ao portal inicial da Afya -->


            <a href="https://www.afya.com.br/"><img src="assets/logo afya cor rosa.png" id="logo"></a>
               
            <!-- cabeçalho -->
            <nav id="menu">
       
                    <a href="index.html">Início</a>
                    <a href="#">Salas</a>
                    <a href="#"><span class="reservantes-header">Reservantes</span></a>
                    <a href="#">Cursos</a>
                </nav>        
            </header>

        <h1>Reservas</h1>

        <!-- barra de pesquisa -->
        <form class="search-form">
            <input type="text" name="q" placeholder="Buscar..." class="search-bar">
            <button type="submit" class="search-btn">Pesquisar</button>

             <!-- table salas -->
    <div class="box-salas">
        <table>
            <thead>
                <tr>
                    <th>Vagas</th>
                    <th>Responsável</th>
                    <th>Sala</th>
                    <th>Status</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="vagas">30</td>
                    <td class="responsavel">Thiago Fragata</td>
                    <td>Sala 101</td>
                    <td>Reservada</td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                <tr>
                    <td class="vagas">50</td>
                    <td class="responsavel">Breno Uchoa</td>
                    <td>Laboratório C</td>
                    <td>Reservada</td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                <tr>
                    <td class="vagas"></td>
                    <td class="responsavel"></td>
                    <td></td>
                    <td></td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                <tr>
                    <td class="vagas"></td>
                    <td class="responsavel"></td>
                    <td></td>
                    <td></td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                <tr>
                    <td class="vagas"></td>
                    <td class="responsavel"></td>
                    <td></td>
                    <td></td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                <tr>
                    <td class="vagas"></td>
                    <td class="responsavel"></td>
                    <td></td>
                    <td></td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                <tr>
                    <td class="vagas"></td>
                    <td class="responsavel"></td>
                    <td></td>
                    <td></td>
                    <td><ion-icon class="edit" name="pencil-outline"></ion-icon><ion-icon class="edit" name="trash-outline"></ion-icon></td>
                </tr>
                
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
    </div>
    </div>
    <footer><p>Todos os direitos reservados. Copyright 2024/ Afya</p></footer>





    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
