* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: "Sansbeambody Bold", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    /* Junção de flex-grow, flex-shrink e flex-basis.  */
    /* flex-grow – Habilidade de um flex item crescer. */
    /* flex-shrink - Capacidade de redução do item.    */
    /* flex-basis – Tamanho inicial do item.           */
    flex: 1 1 100vw;
}

.container {
    position: relative;
    flex: 1 1 100vw;
    height: 100vh;
}

#logo{
    flex: 1 0 200;
    align-items: flex-start;
    justify-content: flex-start;
    top: 0;
    left: 0;
}

.mulher {
    position: absolute;
    top: 0px;
    left: 406px;
    width: 100%;
    height: 100vh;
    opacity: 0.2; /* Opacidade da imagem */
    z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
}

header {
    display: flex;
    flex: 1 1 100vw;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
}

header #logo {
    display: flex;
    width: 80px;
    height: 32px;
    flex: 0 1 100px;
    margin-top: 15px;
    margin-left: 120px; /* Adicione margem à esquerda */
    margin-right: 10px; /* Adicione margem à direita */
    align-self: center; /* Alinhe verticalmente ao centro */
    font-size: 16px;
}


@media screen and (max-width: 859px) {
    header #logo {
        display: none;
    }
}

.sala-header{
    color: rgb(206,0,86);
    font-weight: 800;
    font-family: Inter;
    word-spacing: 2px;
}

nav {
    display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 200px;
}

nav a {
	margin: 0 3%;
	font-size: 13pt;
    font-weight: 500;
}


.cadastro {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: top;
    left: 35%;
    margin-top: 10%;
    color: black;
    height: 45vh;
    width: 30vw;
    position: absolute;
    z-index: 1; /* Adiciona z-index: 1; para colocar a .cadastro acima da .mulher */
    background: rgba(240, 240, 240, 0.75);
    box-sizing: border-box; /* Garantir que a largura e altura incluam a sombra */
    border-radius: 20px;
    box-shadow: 0 0 1px black; 
    border: none;
}

.cadastro h1{
    margin-top: 20px;
    color: black;
    top: 0;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.data{
    margin-bottom: 10px;
    margin: 10px;
}

.hora1{
    margin-bottom: 10px;
    margin: 10px;
}

.descricao{
    margin-bottom: 20px;
    margin: 10px;
}

.participantes{
    margin-top: 30px;
    margin: 0;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
}

.select{
    width: 50px;
}

#numero{
    width: 50px;
}

.submit{
    right: 30px;
    position: absolute;
    margin-top: 70px;
    width: 80px;
    height: 30px;
    box-sizing: border-box; /* Garantir que a largura e altura incluam a sombra */
    border-radius: 10px;
    box-shadow: 0 0 1px black; 
    border: none;
    background-color: rgb(206, 0, 86);
    color: white;
}

.submit:hover{
    background-color: rgb(135, 0, 56);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(135, 0, 56);
}

.floating-page {
    height: 200px;
    width: 200px;
    top: 40%;
    left: 44%;
    position: absolute;
    background: white;
    box-sizing: border-box; /* Garantir que a largura e altura incluam a sombra */
    border-radius: 20px;
    box-shadow: 0 0 1px black; 
    border: none;
    z-index: 1;
}

.sucesso{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    margin: 10px;
    margin-top: 30px;
}

.floating-page .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom-left-radius:20px;
    z-index: 1;
  }
.check{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 90px;
    margin-left: 50px;
    color: green;

}

footer{
    width: 100%;
    height: 100px;
    background-color: #292929;
}

footer p{
    color: #fff;
    text-align: flex-start;
    justify-content: center;
    font-family: Inter;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}